<header class="navbar navbar-nav navbar-expand-lg navbar-dark bg-dark">
  		<div class="container">
  			<%= link_to "Flight Booker", root_path, id: "logo" %>
  			<nav>
  				<ul class="nav navbar-nav navbar-right ">
  					<li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", '#' %></li>
  				</ul> 					
  			</nav>
  		</div>
</header>      